*.vtex_c
*.vpcf_c
*.vxml_c
*.vcss_c
*.vjs_c
*.bin
*.png
panorama_debugger.cfg
game/panorama/scripts/custom_game/statcollection.js
game/scripts/vscripts/statcollection/
game/panorama/layout/custom_game/statcollection.xml
